@page "/activities/{Key}/output"
@inject LionFire.Activities.IActivitiesTracker ActivitiesTracker
@using LionFire.FlexObjects
@using LionFire.Activities

<h3>ConsoleActivity</h3>

@if (Activity == null)
{
    <div>
        Activity @Key not found
    </div>
}

@if (Lines != null) {
    <TerminalView Lines=@Lines />
}


