@page "/"

@using LionFire.Vos.Blazor.Data
@using LionFire.Referencing
@inject WeatherForecastService ForecastService
@inject IRootManager  rootManager

<h1>Vos Tree</h1>

@if (listings==null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Temp. (C)</th>
                <th>Temp. (F)</th>
                <th>Summary</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var listing in listings)
            {
                <tr>
                    <td>@listing.Name</td>
                    @*<td>@forecast.Summary</td>*@
                </tr>
            }

        </tbody>
    </table>
}

@code {
    private Listing[] listings;

    protected override async Task OnInitializedAsync()
    {
        var root = rootManager.Get();
        var temp = root["/temp"];

        var hList = temp.Reference.GetListHandle();
        var result = await hList.Resolve();
        listings = result.Value.Value.ToArray();
    }
}
