@page "/v/{**vospath}"
@using LionFire.Vos.Blazor.Pages
@model VosViewModel

<h3>VosView2</h3>
@*Path: @Model.Path*@
<br />
@*VosPath:  @Model.VosPath*@
<br />

<component type="typeof(VosExplorer)" render-mode="Server" />
@{

}
