@page "/account"
@using Microsoft.AspNetCore.Components.Authorization

<AuthorizeView>
    <Authorized>
        <MudTabs>
            <MudTabPanel Text="Name">
                <MudSimpleTable>
                    <tr>
                        <td>Username</td>
                        <td>@context.User?.Identity?.Name</td>
                    </tr>
                </MudSimpleTable>
            </MudTabPanel>

            <MudTabPanel Text="Claims">
                <MudSimpleTable>
                @foreach(var claim in context.User?.Claims ?? [])
                {
                    <tr>
                        <td>@claim.Type:</td>
                        <td> @claim.Value</td>
                    </tr>
                }
                </MudSimpleTable>

            </MudTabPanel>
        </MudTabs>

        
    </Authorized>
    <NotAuthorized>
        <div>(Not logged in)</div>
    </NotAuthorized>
</AuthorizeView>

@code {
    protected override Task OnInitializedAsync()
    {
        return base.OnInitializedAsync();
    }
}
